table {
    border : 2px solid violet;
    border-collapse : collapse; 
}
td {
    width : 100px;
    height : 100px;
    padding : 0px;
    font : italic 100px consolas, sans-serif;
    color : blue;
    text-align : center;
    background : linen;
}
#game_result {
    font : italic 25px consolas, sans-serif;
    color : magenta;
    margin-top : 10px;
}